a {
    text-decoration: none;
    color: #163152;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;

    background-color: #FDFDFF;
}

.hero h1 {
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    font-style: italic;
}

.header-section {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;

}

.photo-description {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}

.news-header {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}

.regata-news p {
    font-size: 18px;
    line-height: 26px;
}

.header-participant {
    font-size: 20px;
}

.participant-item {
    font-size: 18px;
    line-height: 26px;
}

.regata-news blockquote {
    border-left-color: #00c6bd;
    border-left-style: solid;
    border-left-width: 2px;
    margin: 0;
    padding: 0 0 0 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

.author {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.author time {
    font-weight: normal;
    color: #8693A4;

}

.copyright, .policy {
    font-size: 10px;
    line-height: 12px;
}

.footer-navigation-topic h2 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation {
    font-size: 14px;
    line-height: 16px;
}

.navigation-item a, .event-data {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #163152;
    text-decoration: none;
}

.contact-items {
    line-height: 22px;
}

.contact-items h3 {
    font-weight: bold;
}

.contact-items address {
    font-style: normal;
}

